
<style>
  .col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
  }
  .col3 {
    columns: 3 100px;
    -webkit-columns: 3 100px;
    -moz-columns: 3 100px;
  }
</style>
h1 {
    font-size: 200%;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 130%;
}
embed {
  height: 1200px;
  width: 900px;
}
